$footer-height: 40px;

$my-color: #FFB970;
$black: #1c1e21;

@mixin sm-up {
  @media (min-width: 960px) {
	@content;
  }
}

.pageTitle {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-family: serif;
}

.pageTitle:after {
  position: absolute;
  bottom: -5px;
  left: 0px;
  content: '';
  width: 75%;
  border-bottom: 2px solid $my-color;
}
