<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta property="og:type" content="website" />
    <% if(htmlWebpackPlugin.options.seo && 'url' in htmlWebpackPlugin.options.seo) {%>
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.seo.url %>" />
    <% } %>
    <meta property="og:title" content="<%= (htmlWebpackPlugin.options.seo && htmlWebpackPlugin.options.seo.title) || htmlWebpackPlugin.options.title %>" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <% if(htmlWebpackPlugin.options.seo && 'cover' in htmlWebpackPlugin.options.seo) {%>
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.seo.cover %>" />
    <% } %>
    <% if(htmlWebpackPlugin.options.seo && 'subtitle' in htmlWebpackPlugin.options.seo){ %>
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.seo.subtitle %>" />
    <meta property="description" content="<%= htmlWebpackPlugin.options.seo.subtitle %>" />
    <meta property="twitter:description" content="<%= htmlWebpackPlugin.options.seo.subtitle %>" />
    <% } else{ %>
    <meta property="og:description" content="&hellip;" />
    <meta property="description" content="&hellip;" />
    <meta property="twitter:description" content="&hellip;" />
    <% } %>
    <meta name="twitter:card" content="<%= (htmlWebpackPlugin.options.seo && 'cover' in htmlWebpackPlugin.options.seo) ? 'summary_large_image' : 'summary'%>" />
    <% if(htmlWebpackPlugin.options.seo && 'cover' in htmlWebpackPlugin.options.seo) {%>
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.seo.cover %>">
    <% } %>
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=307302537052260&autoLogAppEvents=1" nonce="tdHj104P"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  </body>
</html>
